/**,
*:after,
*:before {
  box-sizing: border-box;
}*/

html {
  font-size: 16px;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
}
body {
  background: #ddd;
}
.hidden {
  display: none;
}
h1 {
  background: #0b83c2;
  font-size: 20px;
  color: #fff;
  text-align: center;
  height: 25px;
  padding-top: 7px;
  border-bottom: 1px solid #2362af;
  margin: 0;
}
h2 {
  margin-bottom: 0;
}
h4 {
  margin-top: 0;
}
.container {
  margin: 2em 25% 0 25%;
  padding-top: 3em;
  height: 100vh;
  text-align: center;
  background: #fff;
  border: 1px solid #bdcad0;
  border-radius: 7px;
}
input {
  width: 50%;
  height: 1.5rem;
  text-align: center;
}
input[type="text"] {
  display: block;
  margin: 0 auto;
  border: 1px solid #DBE1EB;
  font-size: 26px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  color: #2E3133;
  text-align: left;
}
input[type="button"] {
  width: 25%;
  margin: .25rem .125rem;
  cursor: pointer;
  background-color: #0b83c2;
  color: #fff;
  border: 1px solid #0b83c2;
  font-size: 22px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}
#displayWrapper {
  vertical-align: top;
  background: #ddd;
  border: 1px solid #bdcad0;
  border-radius: 7px;
}
#displayWrapper h2 {
  background: #fff;
  margin-top: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: .125em 0;
}
#displayWrapper div:not(#originDisplay):not(.fb-share-button) {
  border: 2px solid #000;
  background: #fff;
  margin: 2.5em 1em;
  font-size: 22px;
  font-weight: bold;
}
#meaningDisplay {
  color: #0b83c2;
}
#displayWrapper div:not(#meaningDisplay):not(.fb-share-button) span:after {
  content: '';
  position: absolute;
  bottom: -2em;
  left: 50%;
  margin-left: -0.5em;
  width: 1em;
  height: 1em;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
  transform: rotate(-45deg);
}
span {
  position: relative;
  width: 25%;
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
}
.fb-share-button {
  background-color: #0b83c2;
  color: #fff;
  margin-bottom: 1em;
  border-radius: 7px;
}
.fb-share-button span {
  font-size: 20px;
  color: #fff;
}
